/* Text things */

html ,body{
    font-family: Monospace;
    margin: 0;
    padding: 0;
    color: black
}
h1 {
    font-size: 2em;
    margin: 0 20px;
    color: red;
}

img{
    width: 400;
    height: 500px;
    margin: 0 20px;
}

p {

    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
    color: black;
    align-items: right;
}

.bold {
    font-weight: bold;
    color: black;
}


/*  Navbar */
.navbar {
    background-color: black;
    color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    list-style: none;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    justify-content: space-between;
}

.navbar a:hover {
    color: red;
}
.navbar h1{
    margin-left: 0
}

/*  left = name and star  right = links*/
.left{
    display: flex;
    align-items: center
}

.left h1{
    color: white;
    font-size: 4em;
}

.left img{
    height: 80px;
}

.right{
    display: flex;
    gap: 20px;
}


/* About me */

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-top: 20px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
}

.about-me-text h1{
    font-size: 8em;
    text-align: center;
    padding-bottom: 20px;
}


/* Project */
.projects {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.projects h1, ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects ul {
    margin-top: 20px;
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 30x;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects li {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    text-align: center;
}
.projects li:hover {
    background-color: lightgray;
}

.projectname{
    font-size: 2em;
    font-weight: bold;
}

.description {
    font-size: 1.2em;
    color: black;
    margin-left: 20px;
}

.projects h1 {
   text-align: left;
    font-size: 5em;
    color: black;
    margin-bottom: 20px;
}
/* Break */
.break img {
    width: 20%;
    height: 100%;
}
.break {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}
/* Involvment */
/* Resume */
/* Contact Me */

